.body1 {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 90vh;
    justify-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 42px;
    color: lightsteelblue;
    background-image: url(Weide-Fluß.jpg);
    background-repeat: no-repeat;
    background-position: left;
    object-position: top center;
    background-size: 120%;
    text-shadow: 0 0 10px black;
    padding-top: 20 rem;
    padding-left: 5rem;
    padding-right: 5rem;

}

.h1-center {
    text-align: center;
}

.p1 {
    padding-left: 3rem;
    padding-right: 5rem;
}